@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.nav-items{
    list-style-type: none;
    padding: 0px;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E6F3;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-items li{
    padding: 20px;
}
.nav-items li a{
    text-decoration: none;
    font-size: 15px;
    color: #1a1a1a;
    font-weight: 600;
    transition: 0.2s ease;
}

.nav-items li a:hover{
  color: #6fb3b3;
  text-decoration: underline #6fb3b3 2px;
   
}
#Hero{
    background-image: url("Images/hero4.png");
    height: 100vh;
    background-size: cover;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    margin-bottom: 50px;
}
.h5-ele{
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.h3-ele{
    font-size: 50px;
    color: #1a1a1a;
    font-weight: 650;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h3-elem{
    font-size: 50px;
    color: #088178;
    font-weight: 650;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h6-ele{
    font-size: 16px;
    color: rgb(144, 136, 136);
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    background-image: url("Images/button.png");
    border: none;
    background-color: transparent;
    color: #088178;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-size: cover;
    font-weight: 700;
    font-size: 16px;
    background-repeat: no-repeat;

}
.feature-container{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature-card{
    text-align: center;
    width: fit-content;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #cce7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    margin: 10px;
}
.feature-btn-text{
    color: #088178;
    font-weight: bold;
    padding: 6px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    font-family: roboto;
}
.feature-card:hover{
    box-shadow: 10px 10px 54px rgba(147, 145, 206, 0.198);
}

.f-1{
    background-color: #fddde4;
}
.f-2{
    background-color: #cdebbc;
}
.f-3{
    background-color: #d1e8f2;
}
.f-4{
    background-color: #cdd4f8;
}
.f-5{
    background-color: #f6dbf6;
}
.f-6{
    background-color: #fff2e5;
}
#product{
    padding: 60px;
}
.ancor-shop-product-item{
    color: #041e04;
}
.ancor-shop-product-item:hover{
    text-decoration: none;
    color: #041e04;
}
.product-text-container{
    text-align: center;
    margin-bottom: 50px;
}
#product h1{
    font-family: Calibri, sans-serif;
    font-size: 50px;
    font-weight: 600;
}
#product p{
    font-family: Calibri, sans-serif;
    font-size: 17px;
    color: #66817f;
    text-decoration: none;
}
.product-card{
    padding: 15px;
    border: solid 1px #cce7d0;
    border-radius: 30px;
    width: 23%;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    margin: 15px 0px;
}
.product-card:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    text-decoration: dashed;
}
.product-card img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 14px;
}
.product-name-cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-cart-logo{
    background-color: #e8f6ea;
    border-radius: 150px;
    height: 40px;
    width: 40px;
    padding: 10px;
    color: #088178;
    border: 1px solid #cce7d0;
}
.start-color{
    color: rgb(234, 200, 7);
}
.product-card p{
    font-family: Calibri, sans-serif;
    color: #738887;
    margin-bottom: 0px;
}
.product-price{
    font-family: Calibri, sans-serif;
    color: #088178;
    font-weight: bolder;
}
.product-card h5{
    font-family: Calibri, sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 20px;
}
.product-item-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#banner{
    background-image: url("Images/banner/b1.jpg");
    height: 40vh;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#banner h1{
    color: white;
    font-weight: bold;
    font-size: 40px;
}
#banner p{
    color: #818ea0;
    font-weight: 600;
    font-size: 18px;
}
#banner h4{
    color: white;
    font-size: 20px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
}
#banner h2{
    color: white;
    font-size: 40px;
    font-family: Calibri, sans-serif;
    padding: 15px 0px;
    font-weight: bold;
}
#banner button{
    padding: 15px;
    width: 150px;
    font-family: Calibri, sans-serif;
    font-family: roboto;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}
#banner button:hover{
    background-color: #088178;
    color: #fff;
}

#small-banner-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}
.banner-box{
    background-image: url("Images/banner/b17.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    min-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;

}
.banner-box h4{
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-family: Open Sans;
}
.banner-box h1{
    color: white;
    font-weight: 1000;
    font-size: 34px;
    font-family: Calibri;
}
.banner-box h6{
    color: white;
    font-weight: 200;
    font-size: 14px;
    font-family: Roboto; 
}
.banner-box button{
    padding: 8px;
    width: 120px;
    color: white;
    background-color: transparent;
    font-family: Calibri, sans-serif;
    font-family: roboto;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 10px;
}
.banner-box button:hover{
    background-color: #088178;
    color: #fff;
}
.b-2{
    background-image: url("Images/banner/b10.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    min-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
}
#medium-banner-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
.banner-md-box{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
}
.bd-md-1{
    background-image: url("Images/banner/b7.jpg");
    height: 37vh;
    width: 410px;
}
.b-md-2{
    background-image: url("Images/banner/b4.jpg");
    height: 37vh;
    width: 480px;
}
 
.b-md-3{
    background-image: url("Images/banner/b18.jpg");
    height: 37vh;
    width: 410px;
}
#medium-banner-section h1{
    font-weight: 900;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}
#medium-banner-section h6{
    font-weight: 750;
    font-family: sans-serif;
    font-size: 21px;
    color: rgb(248, 64, 64);
}
#newsLetter-section{
    background-color: #041e04;
    background-image: url("Images/banner/b14.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
    margin-bottom: 50px;
}
#newsLetter-section h2{
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 800;
}
#newsLetter-section p{
    color: #818ea0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    
}
.sign-up-button{
    width: 160px;
    height: 48px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #088178;
    color: white;
    font-weight: 600;
    transition: 0.2s ease;

}
.sign-up-button:hover{
    background-color: white;
    color: #088178;
    border-left: 1px solid #088178;
}
.input-emails{
    height: 48px;
    width: 100%;
    padding: 14px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Calibri, sans-serif;
    color: #738887;
}
.form{
    display: flex;
    width: 35%;
}
#footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer-section h4{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
#footer-section strong{
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: black;
}
.footer-img{
    margin-bottom: 30px;
}
#footer-section p{
    color: #66817f;
    font-weight: 600;
}
#footer-section a{
    text-decoration: none;
}
#footer-section p:hover,
#footer-section a:hover{
    color: red;
    text-decoration: 2px solid #088178;
}
.brands-section{
    margin-top: 30px;
}
.brands-section h5{
    font-size: 18px;
    font-weight: 700;
}
.brand-con{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.app-play-con{
    margin-bottom: 10px;
}
#footer-section .app-play-con img{
    border: 1px solid #088178;
    border-radius: 8px;
}
.footer-copyright{
    margin-top: 20px;
}
.footer-copyright p{
    color: #66817f;
}
.brand-con i:hover{
    color: #088178;
}
#paginationButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 60px;
}
#paginationButtons button{
    background-color: #088178;
    color: white;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
}

#close{
    display: none;
}
#mobile{
    display: none;
    align-items: center;
}

@media (max-width:799px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    .active{
        right: 0px;
    }
    #close{
        display: flex;
        color: #041e04;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }
    #lg-none{
        display: none;
    }
    #Hero {
        padding: 35px;
        height: 70vh;
        background-position: top 30% right 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .feature-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #product {
        padding: 30px;
        margin-bottom: 50px;
    }
    .product-item-card-container {
        justify-content: center;
    }
    .product-card {
        margin: 15px;
        width: 40%;
    }
    #banner {
        height: 20vh;   
    }
    #banner h2 {
        font-size: 30px;
    }
    #banner button {
        padding: 10px;
        width: 130px;
        font-size: 15px;
    }
    .banner-box {
        height: 30vh;
        min-width: 100%;
    }
    .bd-md-1 {
        height: 30vh;
        width: 30%;
    }
    .b-md-2 {
        background-image: url("Images/banner/b4.jpg");
        height: 30vh;
        width: 30%;
    }
    .b-md-3 {
        background-image: url("Images/banner/b18.jpg");
        height: 30vh;
        width: 30%;
    }
    .banner-md-box {
        padding: 10px;
    }
    #medium-banner-section h1 {
        font-size: 22px;
    }
    #medium-banner-section h6 {
        font-size: 17px;
        font-family: roboto;
    }
    .form {
        width: 70%;
    }
    #footer-section {
        flex-wrap: wrap;
    }
    .brands-section {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
@media (max-width: 477px) {
    #header {
        padding: 12px 12px;
    }
    img {
        vertical-align: middle;
        border-style: none;
        width: 90px;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 18px;
        padding-left: 20px;
    }
    #Hero {
        padding: 20px;
        height: 70vh;
        background-position: 65%;
        margin-bottom: 20px;
    }
    .h5-ele {
        font-size: 16px;
    }
    .h3-ele {
        font-size: 28px;
    }
    .h3-elem {
        font-size: 28px;
    }
    .h6-ele {
        font-size: 14px;
    }
    .button {
        padding: 10px 60px 12px 55px;
        font-size: 14px;
    }
    .feature-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .feature-card {
        width: 43%;
    }
    #product h1 {
        font-size: 34px;
        font-weight: 600;
    }
    #product p {
        font-size: 15px;
    }
    .product-text-container {
        margin-bottom: 25px;
    }
    .product-card {
        width: 100%;
    }
    #product {
        margin-bottom: 20px;
    }
    #banner {
        height: 40vh;
        width: 100%;
        margin-bottom: 20px;
    }
    #banner h2 {
        text-align: center;
        font-size: 28px;
    }
    .banner-box {
        height: 30vh;
        width: 100%;
        margin-top: 30px;
    }
    #small-banner-section {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
    }
    #medium-banner-section {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
    }
    .bd-md-1 {
        width:100%;
        height: 30vh;
    }
    .b-md-2 {
        width:100%;
        height: 30vh;
    }
    .b-md-3 {
        width:100%;
        height: 30vh;
    }
    .banner-md-box {
        margin-bottom: 30px;
    }
    #medium-banner-section h1 {
        font-weight: 1000;
        font-size: 34px;
        font-family: Calibri;
    }
    #medium-banner-section h6 {
        font-weight: 1000;
        font-size: 16px;
        font-family: Calibri;
    }
    .input-emails {
        width: 100%;
    }
    #newsLetter-section {
        padding: 30px;
    }
    .sign-up-button {
        width: 140px;
    }
    .footer-copyright p {
        color: #66817f;
        font-size: 12px;
    }
}